/* PÁGINA SALE */

.oldprice-box-clothes{
    text-decoration: line-through;
    color: #979797;
    font-size: 1.1rem;
}
.ofert-text-box{
    background-color: #3D5A80;
    font-weight: 400;
    display: inline;
    color: #ffffff;
    padding: 4px 16px;
    border-radius: 0px 8px 8px 0px;
    margin: 16px 0px;
    position: absolute;
} 
.img-box-clothes{
    max-width: 100%;
    height: auto
}