//comentario no compilado

@import 'vars';
@import 'index';
@import 'summer';
@import 'sale';
@import 'nosotros';
@import 'catalogo';

/* CÓDIGO ORIGINAL DEL CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



/* ESTILOS GENERALES */

/* HEADER */
.logo-web {
    background-color:#3D5A80;
    text-align: center;
    padding: 10px;
    img {
        width: 200px;
    }
}
.logo {
    img{
        width: 200px;
    }
}
header {
    position: sticky;
    top: 0px;
    z-index: 10;
    nav {
        margin: auto;
        font-size: 100%;
        margin-top: 0px;
        background-color: #3D5A80;
    }
}
.nav-web > li > a{
    display: block;
    padding: 15px 0px;
    color: #ffffff;
    text-decoration: none;
    margin: 0px 35px;
}
.nav-web {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: -1rem;
    li:hover {
        .menu-vertical{
            display: block;
        }
    }
    ul {
        li {
            margin: 0px 0px;
        }
    }
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 220px;
    background-color:#3d5a8073;
    padding: 5px 15px;
    border-radius: 0px 0px 15px 15px;
    li:hover {
        background-color: #3d5a80da;
        border-radius: 8px;
        display: block;
    }
    li {
        a{
            display: block;
            color: #ffffff;
            padding: 15px 15x 15px 20px;
            text-decoration: none;   
        }
    }
}
.navbar {
    background-color: #3D5A80;
}

button.navbar-toggler {
    background-color: #ffffff9c;
}
.dropdown-menu a{
    text-decoration: none;
    color: #102641;
}


/* ESTILOS DE TIPOGRAFÍAS GENERALES */
h1{
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 16px;
}




/*FOOTER*/
#footer {
    background-color: #e9ebee;
}
.img-footer img {
    max-width: 100px;
    margin: 20px 0px;
}
.content-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    border-bottom: solid 1px;
    border-color: #3D5A80;
    padding: 40px 80px 0px;
    margin: 0px 95px;
}
#footer ul, a, li{ 
    text-decoration: none;
    list-style: none;
    color: #000000;
    padding: 0px;
}
.content-final-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 95px;
    padding: 20px;
    li {
        a {
            i{
                font-size: 1.5rem;
            }
        }
    }
}
.content-social-footer {
    display: flex;
    gap: 28px;
    align-items: center;
}
.categorias-principales, .info-footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
}







/* DISEÑO ADAPTATIVO CON MEDIA */

/* NAV BAR */
@media screen and (max-width: 768px) {
    #prendas-temporada {
        padding: 0;
    }
}


@media screen and (min-width: 861px) {
    #nav-mobile{
        display: none;
        padding-top: 0;
    }    
}

@media screen and (max-width: 860px) {
    .menu-horizontal {
        display: none;
    }
    .logo-web{
        display: none;
    }
    .bannerSlide{
        padding-top: 79px;
    }
   
}

/* PRENDAS DESTACADAS CON MEDIA QUERIES */
@media screen and (max-width: 1023px) {
    .content-box-clothes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;
        margin: 16px 48px;
    }
    #prendas-temporada {
        padding: 0px;
    }
}

@media screen and (max-width: 600px) {
    .content-box-clothes{
        margin: 16px 20px;
    }
}


/* GALERIA CON MEDIA QUERIES */
@media screen and (max-width: 1023px) {
    .collage-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 300px 300px 300px 300px;
        padding: 0;
        margin: 20px 48px;
    }
    .collage-container .gallery-one {
        grid-row: 1/3;
    }
    
    .collage-container .gallery-two {
        grid-row: auto;
    }
    
    .collage-container .gallery-three {
        grid-row: 2/4;
        grid-column: auto;
    }
    
    .collage-container .gallery-four{
        grid-row: 3/5;
    }
    
    .collage-container .gallery-five {
        grid-row: 5/6;
        grid-column: 1/3;
    }
    
    .collage-container .gallery-six {
        grid-row: auto;
    }
}



@media screen and (max-width: 600px) {
    .collage-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px 400px 400px 400px;
        padding: 0;
        margin: 20px;
    }
    .collage-container .gallery-one {
        grid-row: auto;
    }
    
    .collage-container .gallery-two {
        grid-row: auto;
    }
    
    .collage-container .gallery-three {
        grid-row: auto;
        grid-column: 1/3;
    }
    
    .collage-container .gallery-four{
        grid-row: auto;
    }
    
    .collage-container .gallery-five {
        grid-row: 4/5;
        grid-column: 1/3;
    }
    .collage-container .gallery-six {
        grid-row: auto;
    }
    .button-block-collage a{
        font-size: 0.5rem;
    }
}





/* FOOTER CON MEDIA QUERIES */

@media screen and (max-width: 1023px) {
    .content-footer {
        flex-direction: column;
        margin: 48px;
        padding: 40px 20px 0px;
    }
    .content-final-footer {
        flex-wrap: wrap;
        margin: 0px 48px;
    }
    .content-final-footer p, .social-media {
        padding: 0px 20px;
    }
}
@media screen and (max-width: 480px) {
    .content-footer {
        padding: 40px 0px;
    }
    .content-final-footer {
        padding: 0px 0px 20px;
    }
}



/* PÁGINA SUMMER 2023 */ 
@media screen and (max-width: 1023px) {
    .filters{
        display: none;
    }
    .container-filters-box {
        flex-direction: column;
    }
}
@media screen and (min-width: 1024px) {
    .filters-mobile{
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .img-box-clothes-summersale {
        max-width: 260px;
    }
}
@media screen and (max-width: 1024px) {
    .img-box-clothes-summersale {
        max-width: 200px;
    }
}

@media screen and (max-width: 860px) {
    .container-filters-box .filters-mobile {
        padding-top: 90px;
    }
}







